<h2>Q: Is there a {{.Version}} version?</h2>
<h2>A: Yes, We offer a free trial for {{ .Days}} days on any paid plans.</h2><br>
<h2>Q: What are your support hours?</h2><br>
<h2>A: We are support staff	answering emails {{.Hours}}/{{.Days}}, though response times may be a bit slower on weekends.</h2>